body{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-image: url(images/background.png);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Header */

header{
    background-color: rgba(0, 0, 0, 0.325);
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links{
    list-style: none;
}

#links li{
    display: inline-block;
    padding: 10px;
}

#links img{
    filter: invert(100%);
}

#links img:hover{
    filter: invert(70%);
}

/* Starting page */

.aboutMe{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 80%;
    justify-content: center;
}

#myPhoto{
    height: 350px;
    border-radius: 25px;
    margin-right: 20px;
}

#aboutText{
    display: block;
    margin-left: 20px;
}

/* Templates */

#menu{
    display: flex;
    align-content: space-evenly;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#menuButton{
    width: 35%;
}


/* Achievments */


/* Skills */


/* Hobbies */


/* Footer */

footer{
    text-align: center;
    padding: 1px;
    margin-bottom: 0%;
    background-color: rgba(0, 0, 0, 0.325);
}