body{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-image: url(images/background.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header */

header{
    background-color: rgba(0, 0, 0, 0.325);
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

#links{
    list-style: none;
}

#links li{
    display: inline-block;
    padding: 10px;
}

#links img{
    filter: invert(100%);
}

#links img:hover{
    filter: invert(70%);
}

/* Starting page */

.aboutMe{
    display: flex;
    margin-top: 30px;
    margin-left: 8%;
    margin-bottom: 75px;
    width: 80%;
}

#myPhoto{
    height: 350px;
    width: auto;
    border-radius: 50px;
    margin-right: 20px;
}

#aboutText{
    display: block;
    margin-left: 20px;
}

/* Templates */

.menu{
    width: 90%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    display: flex;
    align-items:center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 25%;
    border: solid 2px black;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.325);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container:hover{
    border: solid 3px black;
    background-color: rgba(0, 0, 0, 0.500);
    cursor: pointer;
}

.container img{
    filter: invert(100%);
    width: 26px;
    height: 26px;
}


/* Achievments */


/* Skills */


/* Hobbies */


/* Footer */

footer{
    text-align: center;
    padding: 1px;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.325);
}